.cars {
    padding: 20px;
  }
  
  .cars__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .carsPage__item {
    width: 19%;
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 0.3vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #760;
    border-radius: 10px;
    background: #fff;
  }
  
  .carsPage__item_selected {
    border: 4px solid rgb(217, 81, 81);
  }
  
  .carsPage__item__image {
    max-width: 100%;
    max-height: 50%;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .carsPage__model {
    font-size: 2vh;
    font-weight: 500;
  }
  
  .carsPage__year {
    font-size: 2vh;
    font-weight: 100;
  }

  .carCard__price {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .carsPage__type {
    width: 100% !important;
    padding: 0.3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #397aab;
    border-radius: 2px;
  }
  
  .carsPage__type p {
    font-size: 1.5vh;
    font-weight: 600;
    color: #fff;
  }
  
  .carDetailsModal {
    width: 60%;
  }
  
  .carDetailsModal__row {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    background: linear-gradient(90deg, lightblue, white);
    font-size: 2vh;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
  }
  
  .carDetailsModal__row.selected {
    border: 2px solid red;
  }
  
  /* Media Queries */
  @media (max-width: 1600px) {
    .carsPage__item {
      width: 23%;
    }
  }
  
  @media (max-width: 1200px) {
    .carsPage__item {
      width: 31%;
    }
  }
  
  @media (max-width: 900px) {
    .carsPage__item {
      width: 48%;
    }
  }
  
  @media (max-width: 768px) {
    .cars {
      padding: 10px;
    }
    
    .carsPage__item {
      width: 48%;
    }
    
    .carDetailsModal {
      width: 80%;
    }
  }
  
  @media (max-width: 512px) {
    .cars {
      padding: 5px;
    }
    
    .cars__container {
      flex-direction: column;
      align-items: center;
    }
    
    .carsPage__item {
      width: 95%;
      aspect-ratio: 16 / 9;
    }
    
    .carsPage__item__image {
      max-height: 60%;
    }
    
    .carDetailsModal {
      width: 95%;
    }
  }